<a href="https://colab.research.google.com/github/helpcons/python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Exemplos

[Documentação](https://pandas.pydata.org/docs/)<br>
[Tutorial W3school](https://www.w3schools.com/python/pandas/default.asp)

In [ ]:
import pandas as pd

# Como agrupar, filtrar e sumarizar dataframes

## Concatenando Data Frames

In [ ]:
 data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = pd.concat([df1, df2], ignore_index=True)
# ignore_index para gerar um índice novo

In [ ]:
newdf

    name  age
0  Sally   50
1   Mary   40
2   John   30
3  Sally   77
4  Peter   44
5  Micky   22